.container{
    max-width: 1300px;
}

.main__combo__component{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main__nav__component{
    flex-basis: 20vh;
}

.main__component{
    overflow: scroll; 
    height: 100%;
}


/* Css for the side bar and post timeline */

.general__container{
    display: flex;
}

.side__bar{
    width: 150px;
    animation: showSidebar 0.5s linear;
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgb(201, 198, 198);
}



@keyframes showSidebar{
    from {width: 0px;}
    to {width:150px;}
}

/* Styles for post form */
#postForm{
    width: 100%;
}