#posts .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#posts:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}


.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: white;
}


.enlargeMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.enlargeMedia img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

