.search__container {
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
}

.search__container > input {
  border: none;
  width: 100%;
}
.search__icon {
  background-color: rgb(134, 202, 202);
  width: fit-content;
  color: white;
  text-align: center;
}

.results__container {
  border: 1px solid;
  border-color: rgb(134, 202, 202);
  border-width: thin;
  background-color: white;
  width: 100%;
  position: relative;
  width: 96%;
}

.general__mini__profile{
  border: 1px solid;
  margin: 1px;
  border-color: rgb(134, 202, 202);
  border-width: thin;
  opacity: 0.8;
}

.user__profile__mini {
  display: flex;
  flex-wrap: wrap; 
  padding-left: 5px;
  padding-top: 4px;
}


.user__profile__mini span {
  font-size: small;
}

.user__profile__mini h6 {
  font-weight: 800;
  margin-bottom: 0px;
}

.img__div__mini {
  border-radius: 50%;
  width: 20%;
}

.img__div__mini img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.recommended__list {
  margin-top: 50%;
  border: 1px solid;
  position: relative;
  border-color: rgb(134, 202, 202);
}

.follow__btn__mini{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3px;
}

.follow__btn__mini >button{
  padding: 9px;
  font-size: smaller;
}

.otherInfo__div__mini{
  overflow-x: auto;
  margin-left: 5px;
  padding: 1%;
  width: fit-content;
}